.navbar-top-blue {
    background-color: #2C323B;
    font-size: 15px;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.my-navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-navbar-brand {
    font-size: 35px;
    color: black;
    pointer-events: none;
}

.my-navbar-nav > li {
    width: 100px;
}

#my-select > li {
    width: 100px;
    text-align: center;
}

#my-select > li:hover {
    text-align: center;
}

#my-select > li:hover {
    font-size: 15px;
    background-color: #2C323B;
}

#my-select > li > a:hover, #my-select > li > a:focus {
    font-size: 15px;
    background-color: #2C323B;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    text-align: center;
    width: 100px;
    color: #fff;
    background-color: #0C8ED9;
    font-size: 17px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    text-align: center;
    width: 100px;
    color: #fff;
    background-color: #0C8ED9;
    font-size: 17px;
}

.navbar-inverse .navbar-nav, .navbar-inverse .navbar-nav > li {
    text-align: center;
    color: #fff;
}

.my-title-nav {
    width: 100%;
    height: 40px;
    background-color: #2C323B;
    color: white;
    text-align: center;
}

.my-title-nav > li:link {
    height: 100%;
    text-align: center;
    color: white;
}

.my-title-nav > li > a:link {
    height: 40px;
    text-align: center;
    color: white;
}

.my-title-nav > li:hover, .my-title-nav > li:focus, .my-title-nav > li:visited, .my-title-nav > li:active {
    background-color: #0C8ED9;
    color: white;
}

.my-title-nav > li > a:hover, .my-title-nav > a:focus, .my-title-nav > li > a:visited, .my-title-nav > li > a:active {
    background-color: #0C8ED9;
    color: white;
}

/**
 * Frosted glass effect
 */
.main {
    width: 100%;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    background: url(../img/backgrounds/timg.jpeg) center top;
    background-size: cover;
    z-index: 0;
}

.out-content {
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) inset;*/
    /*box-shadow:10px 10px 50px 20px pink inset;*/
    z-index: 1;
}

.out-content::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /*-1 可以当背景*/
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background: url(../img/backgrounds/timg.jpeg) center;
    background-size: contain;
    /*平铺*/
    background-attachment: fixed;
    /*位置固定*/
}

.content {
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    box-shadow: 0px 0px 500px rgba(0, 0, 0, 0.5) inset;
    /*box-shadow:10px 10px 50px 20px pink inset;*/
    z-index: 1;
}

.content::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    /*-1 可以当背景*/
    -webkit-filter: blur(20px);
    filter: blur(20px);
    margin: -30px; /*消除边缘透明*/
    /*background: url(../timg.jpeg) center;*/
    background-size: contain;
    /*平铺*/
    background-attachment: fixed;
    /*位置固定*/
}

/*
Frosted glass end
 */