<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/mystyle.css">
    <script type="text/javascript" src="js/audio.js"></script>
    <style type="text/css">
        table {
            table-layout: fixed;
        }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script type="text/javascript">
        function setAudioTime1() {
            for (var i = $("audio#audiohide").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd")[i].innerText = min + ":" + second;
            }
            for (var i = $("audio#audiohide2").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide2")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd2")[i].innerText = min + ":" + second;
            }
        }

        function setAudioTime2() {
            for (var i = $("audio#audiohide2").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide2")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd2")[i].innerText = min + ":" + second;
            }
        }

        function onKeyDown(event) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 13) { // enter 键
                alert("此处回车触发搜索事件");
            }
        }
        $(document).ready(function(){
            $('#myCarousel').carousel({interval:2000});
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top nav-justified navbar-top-blue"
             role="navigation" id="menu-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">切换导航</span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><strong>MyTune</strong></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav my-navbar-nav">
                                <li class="active"><a href="#">发现音乐</a></li>
                                <li><a href="/totypemusic">分类歌单</a></li>
                                <li><a href="/musics">音乐播放</a></li>
                                <li><a>电台</a></li>
                                <li><a>直播</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 50px">
                        <div class="navbar-collapse collapse">
                            <form class="form-horizontal" role="search" method="get" action="/mysearchresult">
                                <div class="form-group">
                                    <div class="center-vertical col-md-10">
                                        <input id="searchcontent" name="searchcontent" type="text" class="form-control"
                                               placeholder="请输入搜索内容"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1" style="height: 50px">
                        <div class="navbar-collapse collapse">
                            <form class="form-horizontal" role="form">
                                <div th:if=${session.currentUser==null} class="form-group">
                                    <div class="col-md-5 col-md-offset-5 center-vertical">
                                        <a href="#"> <img style="width: 40px; height: 40px"
                                                          src="img/head.jpeg" class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-7">
                                        <ul class="nav navbar-nav" id="my-select">
                                            <li class="dropdown"><a href="/toLogOut">未登陆</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div th:if="${session.currentUser!=null}" class="form-group">
                                    <div class="col-md-5 col-md-offset-5 center-vertical">
                                        <a href="#"> <img style="width: 40px; height: 40px"
                                                          th:src="@{${session.currentUser.imagePath}}"
                                                          class="img-responsive"/>
                                        </a>
                                        <!--<span th:value="'src/main/webapp/heads/'${currentUser.imagePath}"></span>-->
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-7">
                                        <ul class="nav navbar-nav" id="my-select">
                                            <li class="dropdown"><a href="#"
                                                                    class="dropdown-toggle" data-toggle="dropdown"><span
                                                    th:text=${session.currentUser.nickName}></span><span
                                                    class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="/toMyPrivate">个人中心</a></li>
                                                    <li><a href="toLogOut">退出</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 60px">
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" style="height: 500px">
                    <div class="item active">
                        <img class="center-block " src="img/slide2.jpg" style="width: 1350px;height: 500px"
                             alt="First slide">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img class="center-block" src="img/slide1.jpg" alt="Second slide">
                        <div class="carousel-caption"></div>
                    </div>
                    <div class="item">
                        <img class="center-block" src="img/slide3.jpg" alt="Third slide">
                        <div class="carousel-caption"></div>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
                                                     href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 50px">
        <div class="row">
            <div class="center-block" style="width: 700px;">
                <h3 class="panel-title text-center"
                    style="padding-bottom: 10px; font-size: 20px">推荐</h3>
                <tr>
                    <ul id="recommendTab" class="nav nav-tabs">
                        <li class="active" style="width: 350px;text-align:center">
                            <a href="#recommend" data-toggle="tab">歌曲推荐</a>
                        </li>
                        <li style="width: 350px;text-align: center">
                            <a href="#firstissue" data-toggle="tab">新歌首发</a>
                        </li>
                    </ul>
                </tr>
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="recommend">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <th style="width: 200px" class="text-center">歌曲名称</th>
                                    <th style="width: 50px" class="text-center">时长</th>
                                    <th style="width: 100px" class="text-center">专辑</th>
                                    <th style="width: 80px" class="text-center">歌手</th>
                                </tr>
                                <tr th:each="musicAndArtistItem:${musicAndArtist}">
                                    <td>
                                        <a th:href="@{/musics(musicid=${musicAndArtistItem.getMusic().getMusicId()})}"
                                           th:text="${musicAndArtistItem.getMusic().getMusicName()}"></a></td>
                                    <td id="timeTd" class="text-center">
                                        <audio id="audiohide" oncanplay="setAudioTime1()">
                                            <source th:src="@{'musics/'+${musicAndArtistItem.getArtist().getArtistCountry()}+'/'+${musicAndArtistItem.getArtist().getSex()}+'/'+${musicAndArtistItem.getArtist().getArtistId()}+'/'+${musicAndArtistItem.getMusic().getMusicId()}+'/'+${musicAndArtistItem.getMusic().getMusicId()}+'.mp3'}"/>
                                        </audio>
                                    </td>
                                    <td th:text="${musicAndArtistItem.getMusic().getAlbum()}"></td>
                                    <td th:text="${musicAndArtistItem.getArtist().getArtistName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="firstissue">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr>
                                    <th style="width: 200px">歌曲名称</th>
                                    <th style="width: 50px">时长</th>
                                    <th style="width: 100px">专辑</th>
                                    <th style="width: 80px">歌手</th>
                                </tr>
                                <tr th:each="musicAndArtistItem:${firstMusicAndArtist}">
                                    <td>
                                        <a th:href="@{/musics(musicid=${musicAndArtistItem.getMusic().getMusicId()})}"
                                           th:text="${musicAndArtistItem.getMusic().getMusicName()}"></a></td>
                                    <td id="timeTd2">
                                        <audio id="audiohide2" oncanplay="setAudioTime2()">
                                            <source th:src="@{'musics/'+${musicAndArtistItem.getArtist().getArtistCountry()}+'/'+${musicAndArtistItem.getArtist().getSex()}+'/'+${musicAndArtistItem.getArtist().getArtistId()}+'/'+${musicAndArtistItem.getMusic().getMusicId()}+'/'+${musicAndArtistItem.getMusic().getMusicId()}+'.mp3'}"/>
                                        </audio>
                                    </td>
                                    <td th:text="${musicAndArtistItem.getMusic().getAlbum()}"></td>
                                    <td th:text="${musicAndArtistItem.getArtist().getArtistName()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-block">
            <h3 class="panel-title text-center"
                style="padding-bottom: 10px; font-size: 20px">榜单</h3>
            <div class="col-md-5">
                <div class="center-block" style="width: 450px;">
                    <tr>
                        <ul id="songTab" class="nav nav-tabs">
                            <li class="active" style="width: 150px;text-align:center">
                                <a href="#rise" data-toggle="tab">飙升榜</a>
                            </li>
                            <li style="width: 150px;text-align: center">
                                <a href="#chinese" data-toggle="tab">华语榜</a>
                            </li>
                            <li style="width: 150px;text-align: center">
                                <a href="#foreign" data-toggle="tab">外文榜</a>
                            </li>
                        </ul>
                    </tr>
                    <div class="panel-body">
                        <div id="my2TabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="rise">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr th:each="musicItem:${upMusicList}">
                                        <td class="text-center">
                                            <a th:href="@{/musics(musicid=${musicItem.getMusicId()})}"
                                               th:text="${musicItem.getMusicName()}"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="chinese">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr th:each="musicItem:${upChinaMusicList}">
                                        <td class="text-center">
                                            <a th:href="@{/musics(musicid=${musicItem.getMusicId()})}"
                                               th:text="${musicItem.getMusicName()}"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="foreign">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr th:each="musicItem:${upForeignMusicList}">
                                        <td class="text-center">
                                            <a th:href="@{/musics(musicid=${musicItem.getMusicId()})}"
                                               th:text="${musicItem.getMusicName()}"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-offset-2">
                <div class="center-block" style="width: 450px;">
                    <tr>
                        <ul id="sex" class="nav nav-tabs">
                            <li class="active" style="width: 150px;text-align:center">
                                <a href="#artist" data-toggle="tab">歌手榜</a>
                            </li>
                            <li style="width: 150px;text-align: center">
                                <a href="#male" data-toggle="tab">男歌手</a>
                            </li>
                            <li style="width: 150px;text-align: center">
                                <a href="#female" data-toggle="tab">女歌手</a>
                            </li>
                        </ul>
                    </tr>
                    <div class="panel-body">
                        <div id="my3TabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="artist">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/artist/周杰伦.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=周杰伦"><label
                                                    style="font-size: 30px;margin-left: 100px">周杰伦</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/薛之谦.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=薛之谦"><label
                                                    style="font-size: 30px;margin-left: 100px">薛之谦</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/邓紫棋.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=邓紫棋"><label
                                                    style="font-size: 30px;margin-left: 100px">邓紫棋</label></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="male">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/artist/周杰伦.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=周杰伦"><label
                                                    style="font-size: 30px;margin-left: 100px">周杰伦</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/薛之谦.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=薛之谦"><label
                                                    style="font-size: 30px;margin-left: 100px">薛之谦</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/林俊杰.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=林俊杰"><label
                                                    style="font-size: 30px;margin-left: 100px">林俊杰</label></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="female">
                                <table class="table table-bordered table-hover">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/artist/邓紫棋.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=邓紫棋"><label
                                                    style="font-size: 30px;margin-left: 100px">邓紫棋</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/王菲.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=王菲"><label
                                                    style="font-size: 30px;margin-left: 100px">王菲</label></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/artist/蔡健雅.jpg" style="width: 105px;height: 105px">
                                            <a href="mysearchresult?searchcontent=蔡健雅"><label
                                                    style="font-size: 30px;margin-left: 100px">蔡健雅</label></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>