<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>collection</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/mystyle.css">
    <script type="text/javascript" src="js/audio.js"></script>
    <style type="text/css">
        table {
            table-layout: fixed;
        }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script type="text/javascript">
        function setAudioTime1() {
            for (var i = $("audio#audiohide").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd")[i].innerText = min + ":" + second;
            }
            for (var i = $("audio#audiohide2").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide2")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd2")[i].innerText = min + ":" + second;
            }
        }

        function setAudioTime2() {
            for (var i = $("audio#audiohide2").length - 1; i >= 0; i--) {
                var timeCurrent = $("audio#audiohide2")[i].duration;
                var min = Math.floor(timeCurrent / 60);
                var second = Math.floor(timeCurrent - min * 60);
                if (second < 10) {
                    second = "0" + second;
                }
                $("td#timeTd2")[i].innerText = min + ":" + second;
            }
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top nav-justified navbar-top-blue"
             role="navigation" id="menu-nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">切换导航</span> <span class="icon-bar"></span>
                                <span class="icon-bar"></span> <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><strong>MyTune</strong></a>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav my-navbar-nav">
                                <li><a href="#">发现音乐</a></li>
                                <li><a href="#">分类歌单</a></li>
                                <li><a href="#">我的音乐</a></li>
                                <li><a href="#">电台</a></li>
                                <li><a href="#">直播</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 50px">
                        <div class="navbar-collapse collapse">
                            <form class="form-horizontal" role="search">
                                <div class="form-group">
                                    <div class="center-vertical col-md-10">
                                        <input type="text" class="form-control" placeholder="请输入搜索内容"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-1" style="height: 50px">
                        <div class="navbar-collapse collapse">
                            <form class="form-horizontal" role="form">

                                <div th:if=${session.currentUser==null} class="form-group">
                                    <div class="col-md-5 col-md-offset-5 center-vertical">
                                        <a href="#"> <img style="width: 40px; height: 40px"
                                                          src="img/head.jpeg" class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-7">
                                        <ul class="nav navbar-nav" id="my-select">
                                            <li class="dropdown"><a href="/toLogOut">未登陆</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div th:if="${session.currentUser!=null}" class="form-group">
                                    <div class="col-md-5 col-md-offset-5 center-vertical">
                                        <a href="#"> <img style="width: 40px; height: 40px"
                                                          src="img/head.jpeg" class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-lg-offset-7">
                                        <ul class="nav navbar-nav" id="my-select">
                                            <li class="dropdown"><a href="#"
                                                                    class="dropdown-toggle" data-toggle="dropdown"><span
                                                    th:text=${session.currentUser.nickName}></span><span
                                                    class="caret"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="/toMyPrivate">个人中心</a></li>
                                                    <li><a href="toLogOut">退出</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary" style="margin-top: 55px;;border-radius:0px;width: 1000px;margin-left: 250px">
    <div class="panel-body">
    </div>
</div>
</body>