<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>
    <!-- CSS -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="Resource/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <!--JS-->
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="backstretch/js/jquery.backstretch.min.js"></script>
    <script src="js/scripts.js"></script>
    <script type="text/javascript">
        function judge() {
            var pass1 = document.getElementById("form-password").value;
            var pass2 = document.getElementById("form-password2").value;
            if (pass1 == pass2) {
                document.getElementById("subBut").removeAttribute('disabled');
                $("#subBut")[0].removeAttr('disabled');
            }
            else (pass1 != pass2)
            {
                document.getElementById("subBut").setAttribute("disabled","disable");
            }
        }
    </script>
</head>
<body>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <div class="description">
                        <h1><strong>用心去聆听世界</strong></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="text-center">
                            <h3><strong>MyTune</strong></h3>
                        </div>
                        <strong th:text="${msg}" style="color: red;margin-left: 90px"></strong>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/register" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="Username..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input onkeyup="judge()" type="password" name="form-password" placeholder="Password..."
                                       class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password2">Repeat Password</label>
                                <input onkeyup="judge()" type="password" name="form-password2"
                                       placeholder="Repeat Password..."
                                       class="form-password form-control" id="form-password2">
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <button id="subBut" type="submit" class="btn">SigIn In</button>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2">
                                    <a href="/toLogOut">
                                        <button type="button" class="btn">To LogIn</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>